.incidents-dev-container {
  width: 100%;
  max-width: 1240px;
  padding: 0 30px;
  margin: 32px auto;
}

.incidents-dev-container header {
  display: flex;
  align-items: center;
}

.incidents-dev-container header img {  
  height: 65px;
}

.incidents-dev-container h1 {
  margin-top: 58px;
  margin-bottom: 12px;
  color: #F2F2F2;
}

.incidents-dev-container .content form {
  width: 100%;
  max-width: 1180px;
  margin-top: 25px;
  margin: 0 auto;
  padding: 35px;

  display: block;
  align-items: center;
  justify-content: center;

  background: #3d3d3d;
  box-shadow: 0 0 100px rgba(0, 0, 0, 0.6);
  border-radius: 8px;
}

.incidents-dev-container .content form .input-group {
  display: flex;
}

.incidents-dev-container .content form .input-group-1 {
  width: 100%;
  max-width: 275px;
  display: flex;
  align-items: center;
  justify-content: space-around;  
}

.incidents-dev-container .content form .input-group-1 input + input {  
  margin-left: 8px;
}

.incidents-dev-container .content form .input-group-2 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.incidents-dev-container .content form .input-group-2 select + select {  
  margin-left: 8px;
}

.incidents-dev-container .content form .input-group-2 .comp {
  width: 100%;
  height: 110px;
  background: #333333;
  color: #85857f;
  border: 1px solid #E03737;
  border-radius: 8px;
  margin-bottom: 12px;
  padding: 16px 2px;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: auto;
}

.incidents-dev-container .content form .input-group-2 .comp-1 {
  width: 100%;
  height: 110px;
  background: #333333;
  color: #85857f;
  border: 1px solid #E03737;
  border-radius: 8px;
  margin-bottom: 12px;
  padding: 16px 2px;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: auto;
}
.incidents-dev-container .content form .input-group-2 .comp-1 {
  margin-left: 8px;
}

.incidents-dev-container .content form .input-group-2 .comp .container {
  
  position: relative;
  padding-left: 47px;
  margin-bottom: 2px;

  cursor: pointer;
  font-size: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.incidents-dev-container .content form .input-group-2 .comp-1 .container {
  
  list-style: none;
  position: relative;
  padding-left: 47px;
  margin-bottom: 2px;

  cursor: pointer;
  font-size: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.incidents-dev-container .content form .input-group-2 .comp .container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Hide the browser's default radio button */
.incidents-dev-container .content form .input-group-2 .comp-1 .container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;  
}