.login-container {
  width: 100%;
  max-width: 1120px;
  height: 100vh;
  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.login-container section.form {
  width: 100%;
  max-width: 350px;
  margin: 30px;
}

.login-container section.form form {
  margin-top: 40px;
}

.login-container section.form form h1 {
  font-size: 32px;
  margin-bottom: 32px;
  color: #85857f;
}

.login-container section.form div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}