@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,500i,700&display=swap');

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  font: 400 14px Roboto, sans-serif;
  background: #333333;
  -webkit-font-Smoothing: antialiased;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background: #7c7c7357; 
  -webkit-box-shadow-: inset 0 0 6px #333333;
}

input, button, textarea {
  font: 400 15px Roboto, sans-serif;
}

button {
  cursor: pointer;
}

form input, select {
  width: 100%;
  height: 52px;
  background: #333333;
  color: #F2F2F2;
  border: 1px solid #E03737;
  border-radius: 8px;
  margin-bottom: 12px;
  padding: 0 24px;
}

form textarea {
  width: 100%;
  min-height: 122px;
  resize: vertical;
  background: #333333;
  color: #F2F2F2;
  border: 1px solid #E03737;
  border-radius: 8px;
  margin-bottom: 12px;
  padding: 16px 24px;
  line-height: 24px;
}


span {
  font-size: 16px;
  margin-left: 24px;
  padding-block-start: 4%;

  color: #F2F2F2;
}

hr {
  height: 310px;
  background: #85857f;
}


th {
  font-size: 14.5px;
  margin-left: 24px;
  padding: 15px;
  padding-block-start: 4%;
  color: #F2F2F2;
  border-bottom: 1px solid #E03737;
}

td {
  font-size: 14px;
  margin-left: 18px;
  height: 18px;
  padding: 15px;
  padding-block-start: 4%;
  position: static;
  color: #858578;
}

tr:nth-child(even){background-color: #464646}

.button {
  width:100%;
  height:55px;
  background: #E03737;
  border: 0;
  border-radius: 8px;
  color: #ddddd2;
  font-weight: 700;
  margin-top: 16px;
  display: inline-block;
  text-align: center;
  text-decoration: nome;
  font-size: 18px;
  line-height: 60px;
  transition: filter 0.2s;
}

.button:hover {
  filter: brightness(80%)
}

.back-link {
  display: flex;
  align-items: center;
  margin-top: 22px;
  color: #ddddd2;
  font-size: 14px;
  text-decoration: none;
  font-weight: 500;
  transition: opacity 0.2s;
}

.back-link-li {
  display: flex;
  align-items: center;
  margin-top: 22px;
  color: #ffffff;
  font-size: 14px;
  text-decoration: none;
  font-weight: 500;
  transition: opacity 0.2s;
}

.back-button-edit {
  display:flex;
  align-items: center;
  justify-content: space-around;

  padding-top: 18px;
  transition: opacity 0.2s;
}

.back-link svg {
  margin-right: 8px;
}

.back-link:hover {
  opacity: 0.8;
}

.input-group input + input {
  width: 200px;
  margin-left: 8px;
}

.button-logout {
  height: 35px;
  width: 35px;
  border-radius: 8px;
  margin-left: auto;
  margin-top: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  background: #333333;
  border: 1px solid #85857f;
  background: transparent;
  transition: border-color 0.2s;
}

.button-logout:hover {
  border-color: #F2F2F2;
}

.dropdown {
  position: relative;
  display: inline;

  padding-block-start: 4%;
  margin-left: 340px;  
}

.dropdown-up {
  position: relative;
  display: inline;

  padding-block-start: 4%;
  margin-left: 340px;  
}

.dropdown-content {
  min-width: 450px;
  height: auto;
  display: none;
  position: absolute;

  background-color: #50504cc2;
  border-radius: 8px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.6);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown-content:nth-child(even){background-color: #555555}

.dropdown-up .dropdown-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 24px;
  list-style: none;
}

.dropdown:-moz-user-disabled .dropdown-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 24px;
  list-style: none;
}

.info {
  margin-left: 365px;
  cursor: pointer;
}

.icon {
  color: #F2F2F2;
  cursor: pointer;
}

.dropdown-up .dropdown-content li {
  background: #ddddd2;
  padding: 8px;
  border-radius: 8px;
  position: relative;
  height: auto;
  text-align: center;
}

.dropdown-up .dropdown-content strong {
  font-size: 16px;
  color: #555555;
}

.dropdown-up .dropdown-content p {
  padding: 4px;
  color: rgba(0, 0, 0, 0.6);
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 14px;
  width: 15px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #E03737;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
 	top: 3.5px;
	left: 4px;
	width: 6px;
	height: 6.5px;
	border-radius: 50%;
	background: white;
}